body {
	background: #EFEFBB;
	background: linear-gradient(to right, rgb(253, 87, 87), white, darkgray);
	padding: 8px;
	color: black;
	margin: 0;
	font-family: rubik;
	margin-left: 60px;
}

h1 {
	text-align: center;
	font-size: 54px;
}

.pokemon {
	display: inline-block;
	flex-direction: column;
	max-width: 800px;
	margin: 0 auto;
}

.pokemon img {
	width: 100px!important;
	height: 100px!important;
	padding: 50px;
	border-radius: 10px 10px 10px 10px;
}

#searchbar {
margin-left: 15%;
padding:15px;
border-radius: 10px;
}

input[type=text] {
	width: 30%;
	-webkit-transition: width 0.15s ease-in-out;
	transition: width 0.15s ease-in-out;
}


input[type=text]:focus {
	width: 70%;
}

#list{
	font-size:  1.5em;
	margin-left: 90px;
}